/* Sidebar Styling */
.sidebar {
  width: 250px;
  height: 100vh;
  background: linear-gradient(135deg, #020e2f, #445573);
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  padding-top: 30px;
  transition: width 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

/* Modern collapse button */
.sidebar-toggle {
  position: absolute;
  top: 20px;
  left: 15px;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30px;
  height: 25px;
  cursor: pointer;
  z-index: 10;
}

.hamburger-icon {
  width: 30px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger-icon .line {
  background-color: #fff;
  height: 4px;
  width: 100%;
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
}

.hamburger-icon.collapsed .top {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-icon.collapsed .middle {
  opacity: 0;
}

.hamburger-icon.collapsed .bottom {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Sidebar List Styling */
.sidebar ul {
  list-style: none;
  padding: 0;
  
  margin-top: 50px; /* Increase the margin to move buttons down */

}

.sidebar ul li {
  padding: 15px 25px;
  margin-bottom: 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease, transform 0.2s ease, padding-left 0.3s ease;
}

.sidebar ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 15px;
  transition: color 0.3s ease;
  
}

.sidebar ul li a mat-icon {
  font-size: 20px;
  transition: transform 0.3s ease;
}

.sidebar ul li:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: translateX(10px);
  padding-left: 30px;
}

.sidebar ul li.active {
  background-color: rgba(255, 255, 255, 0.2);
  color: #1e2a47;
  border-left: 4px solid #6a74d5;
  transform: scale(1.05);
}

.sidebar ul li.active:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: none;
}

/* Sidebar collapsed state */
.sidebar.collapsed {
  width: 70px;
}

.sidebar.collapsed .sidebar-text {
  display: none; /* Hide text when collapsed */
}

/* Add responsiveness */
@media (max-width: 768px) {
  .sidebar {
    width: 60px;
    padding: 15px;
  }

  .sidebar ul li {
    padding: 10px 15px;
  }

  .sidebar ul li a {
    font-size: 14px;
    justify-content: center;
  }

  .sidebar ul li a mat-icon {
    font-size: 24px;
  }
}
