
html, body {
    margin: 0 !important; /* Forcer la suppression des marges */
    padding: 0 !important;
    height: 100%;
    width: 100%;
    overflow: hidden; /* Prevent any scrollbars */
    box-sizing: border-box;
  }
  
  
  :host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
    width: 100vw; /* Full width of the viewport */
    margin: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)),
      url('https://images.pexels.com/photos/4144923/pexels-photo-4144923.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2') no-repeat center center fixed;
    background-size: cover; /* Ensure the background image fully covers the screen */
    background-position: center; /* Center the background image */
    background-attachment: fixed; /* This ensures the background stays fixed during scroll */
    transition: background-position 0.2s ease-out;
  }
  
  app-root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Make sure app-root fills the entire screen */
    width: 100%; /* Ensure it covers the full width */
    margin: 0;
  }
  
  .login-container {
    background: rgba(255, 255, 255, 0.5); /* Light transparent background */
    border-radius: 15px;
    padding: 20px 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px;
    overflow: hidden; /* Ensure no content spills over */
  }
  
  .login-header h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .login-header p {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9rem;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    background: rgba(0, 0, 0, 0.3); /* Transparent background for input fields */
    color: #000;
    outline: none;
    border-radius: 20px;
  }
  
  .input-group input::placeholder {
    color: #353333; /* Placeholder text color */
  }
  
  .login-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #ff5722;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background 0.3s ease;
    border-radius: 20px;
  }
  
  .login-btn:hover {
    background: #e64a19;
  }
  
  .login-footer {
    margin-top: 20px;
  }
  
  .login-footer a {
    color: #ff5722;
    text-decoration: none;
    margin: 0 10px;
    font-size: 0.9rem;
  }
  
  .login-footer a:hover {
    text-decoration: underline;
  }
  