<div class="container">
  <h1>Create Class</h1>
  <form [formGroup]="classForm" (ngSubmit)="onSubmit()">

    <!-- Class Name -->
    <div class="section">
      <label for="name">Class Name</label>
      <input id="name" formControlName="name" />
    </div>

    <!-- Subject Assignment Section -->
    <div class="section subject-assignment-section">
      <h2>Subject Assignments</h2>
      <div formArrayName="subjects">
        <div *ngFor="let subject of subjects.controls; let i = index" [formGroupName]="i" class="subject-group">
          <label for="subject-{{i}}">Subject</label>
          <select id="subject-{{i}}" formControlName="subject">
            <option *ngFor="let m of matiereOptions" [value]="m">{{ m }}</option>
          </select>

          <button type="button" class="add-remove-button" (click)="removeSubject(i)">Remove Subject</button>
        </div>
      </div>

      <button type="button" class="add-remove-button" (click)="addSubject()">Add Subject</button>
    </div>

    <!-- Teacher Assignments Section -->
    <div class="section teacher-assignment-section">
      <h2>Teacher Assignments</h2>
      <div formArrayName="teachers">
        <div *ngFor="let teacher of teachers.controls; let i = index" [formGroupName]="i" class="teacher-group">
          <label for="teacher-{{i}}">Teacher</label>
          <input id="teacher-{{i}}" formControlName="teacher" placeholder="Teacher ID" />

          <label for="subject-{{i}}">Subject</label>
          <select id="subject-{{i}}" formControlName="subject">
            <option *ngFor="let m of matiereOptions" [value]="m">{{ m }}</option>
          </select>

          <button type="button" class="add-remove-button" (click)="removeTeacher(i)">Remove Teacher</button>
        </div>
      </div>

      <button type="button" class="add-remove-button" (click)="addTeacher()">Add Teacher</button>
    </div>

    <button type="submit" [disabled]="classForm.invalid">Create Class</button>
  </form>
</div>
