<div class="courses-container">
  <br>
  <h2>List of Courses</h2>
  <button mat-raised-button color="primary" routerLink="/teacher-space/add-course">Add a Course</button>

  <!-- Boucle pour chaque groupe de niveau -->
  <div *ngFor="let niveau of getNiveaux()">
    <h2 class="niveau-title">Niveau : {{ niveau }}</h2>
    <div class="card-grid">
      <!-- Boucle pour afficher les cours d'un niveau -->
      <div class="card" *ngFor="let course of groupedCourses[niveau]">
        <img [src]="course.image || 'https://via.placeholder.com/150'" alt="Image du cours" />
        <div class="card-content">
          <h3><strong>{{ course.title }}</strong></h3>
          <p>{{ course.description }}</p>
          <p><strong>Durée :</strong> {{ course.duration }} heures</p>
          <a *ngIf="course.pdf" [href]="course.pdf" target="_blank" mat-raised-button color="primary">View PDF</a>
        </div>
        <!-- Icône pour supprimer un cours -->
        <button mat-icon-button color="warn" class="delete-icon" (click)="deleteCourse(course._id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
