<div class="courses-container">
  <br>
  <br>
  <br>
  <br>
  <h2>Liste des Cours</h2>

  <!-- Boucle pour chaque groupe de niveau -->
  <div *ngFor="let niveau of getNiveaux()">
    <h2 class="niveau-title">Niveau : {{ niveau }}</h2>
    <div class="card-grid">
      <!-- Boucle pour afficher les cours d'un niveau -->
      <div class="card" *ngFor="let course of groupedCourses[niveau]">
        <img [src]="course.image || 'https://via.placeholder.com/150'" alt="Image du cours" />
        <div class="card-content">
          <p>{{ course.description }}</p>
          <p><strong>Durée :</strong> {{ course.duration }} heures</p>
          <a *ngIf="course.pdf" [href]="course.pdf" target="_blank" mat-raised-button color="primary">Voir PDF</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bouton pour ajouter un cours -->
  <button mat-raised-button color="primary" routerLink="/add-course">Ajouter un Cours</button>
</div>
