<div class="sidebar shadow-sm" [ngClass]="{ 'showSidebar': isSidebarVisible, 'hideSidebar': !isSidebarVisible }" [@fadeInOut]>
  <ul>
    <li (click)="navigateToDashboard()">
      <a routerLinkActive="active">
        <span class="menu-icon material-icons">dashboard</span>
        <span class="menu-text">Overview</span>
      </a>
    </li>
    <li (click)="navigateToStudents()">
      <a routerLinkActive="active">
        <span class="menu-icon material-icons">school</span>
        <span class="menu-text">Students</span>
      </a>
    </li>
    <li (click)="navigateToTeachers()">
      <a routerLinkActive="active">
        <span class="menu-icon material-icons">person</span>
        <span class="menu-text">Teachers</span>
      </a>
    </li>
    <li (click)="navigateToClasses()">
      <a routerLinkActive="active">
        <span class="menu-icon material-icons">class</span>
        <span class="menu-text">Courses</span>
      </a>
    </li>
    <li (click)="navigateToPlanning()">
      <a routerLinkActive="active">
        <span class="menu-icon material-icons">schedule</span>
        <span class="menu-text">Planning</span>
      </a>
    </li>
    <li (click)="logout()">
      <a routerLinkActive="active">
        <span class="menu-icon material-icons">exit_to_app</span>
        <span class="menu-text">Logout</span>
      </a>
    </li>
  </ul>

</div>
