/* styles.scss */

/* Define a mixin for common styles */
@mixin menu-item {
  color: #27274B;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.3s;

  .menu-icon {
    font-size: 24px;
    margin-right: 10px;
    font-weight: 600;
  }

  .menu-text {
    // font-weight: bold;
  }
}

.sidebar {
  //border: solid 2px #f77f00;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  width: 200px;
  margin-right: 1rem;
  padding: 20px;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  // border-radius: 10%;
  overflow-x: hidden;
  margin-top: 48px;
  // transition: transform 0.3s;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
  cursor: pointer;
}

.sidebar li a {
  @include menu-item;

  &:hover {
    // box-shadow: 0px 0px 20px rgba(0, 0, 255, 0.5);
    background-color: rgb(241, 241, 241);


  }

  &.active {
    color: #0000cd;
    // box-shadow: 3px 3px 5px #b9b9b9, -3px -3px 5px #ffffff;
    background-color: rgb(241, 241, 241);

    // border-radius: 5%;
  }

  &.active:hover {
    // color: #ffffff;

    // box-shadow: 4px 4px 6px #b9b9b9, -4px -4px 6px #ffffff;
    // background-color: #d5d5d5;
  }
}

.sub-menu {
  padding-left: 20px; /* Adjust the value to your desired padding */
}





.hideSidebar {
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
}

/* Define the final state when showing */
.showSidebar {
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.3s, opacity 0.3s;
}



//.sidebar {
//  background-color: #f9fafc;
//  width: 15.625rem;
//  height: 100vh;
//  position: fixed;
//  top: 0;
//  left: 0;
//  transition: transform 0.5s ease;
//  z-index: 100;
//}
//
//.sidebar.hide {
//  transform: translateX(-75%);
//}
//
//.admin {
//  font-size: 2rem;
//  display: flex;
//  justify-content: space-between;
//  align-items: center;
//  margin: 1rem 0 2rem 0;
//  padding: 1rem 0;
//  border-radius: 0.5rem;
//  background-color: #f0f0f0;
//  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
//}
//
//.admin-text {
//  width: 10rem;
//  margin-left: 1rem;
//  text-align: center;
//}
//
//.admin-name {
//  font-family: 'Verdana', sans-serif;
//  font-weight: bold;
//  font-size: 1.6rem;
//  color: #a8a0a0;
//  letter-spacing: 0;
//  padding: 0.3125rem 0.625rem;
//  border-radius: 0.3125rem;
//  box-shadow: 0 0.25rem 0.5rem rgba(72, 71, 71, 0.1);
//  text-transform: uppercase;
//}
//
//.toggle-icon {
//  cursor: pointer;
//  font-size: 1.8rem;
//  z-index: 200;
//  position: relative;
//  right: 0.3125rem;
//  padding: 0.0625rem;
//  background-color: #f0f0f0;
//  border-radius: 50%;
//  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  height: 2.8rem;
//  width: 2.8rem;
//  font-style: normal;
//  transition: transform 1s ease;
//}
//
//.toggle-icon:hover {
//  padding: 0.3125rem;
//  transition: 0.3s ease, padding 0.3s ease;
//}
//
//.menu {
//  list-style: none;
//  padding: 0;
//  display: flex;
//  flex-direction: column;
//  justify-content: flex-start;
//  margin-top: 1.875rem;
//}
//
//.menu li {
//  margin: 1rem 0;
//  font-size: 1.2rem;
//  display: flex;
//  align-items: center;
//  color: #666;
//  cursor: pointer;
//  padding: 0.3125rem 0;
//  transition: background-color 0.3s ease, padding 0.3s ease;
//}
//
//.menu li:hover {
//  background-color: #e9e9e9;
//  border-radius: 0.3125rem;
//  padding: 0.3125rem;
//  transition: background-color 0.3s ease, padding 0.3s ease;
//}
//
//.menu .icon {
//  margin-right: 1.5rem;
//  font-size: 1.5rem;
//  padding: 2rem;
//}
//
//.menu li i {
//  margin-left: 1.35rem;
//  margin-right: 1.2rem;  /* Add more space here */
//  font-size: 1.5rem;
//}
//
//.sidebar.hide + .toggle-icon {
//  visibility: visible;
//  position: fixed;
//  left: 0.625rem;
//  top: 0.9375rem;
//  z-index: 999;
//}
//
