<div class="students-header">
  <h2>Student Management</h2>
  <button mat-flat-button class="neumorphic-button" (click)="goToAddStudentPage()">
    <mat-icon>add</mat-icon>
    Add New Student
  </button>
</div>
<div class="container">
  <table class="neumorphic-table">
    <thead>
    <tr>
      <th>Profile</th>
      <th>Name</th>
      <th>Level</th>
      <th>Email</th>
      <th>Parent Phone</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of students ; let i = index">
      <td><img [src]="student.profilePicture" alt="Profile Picture" class="student-profile-img" /></td>
      <td>{{ student.firstname }} {{ student.lastName }}</td>
      <td>{{ student.niveau }}</td>
      <td>{{ student.email }}</td>
      <td>{{ student.parentPhone }}</td>
      <!-- Actions: Edit and Delete buttons inside the 'actions' div -->
      <td>
        <div class="actions">
          <button mat-icon-button (click)="editStudent(student)" matTooltip="Edit Student">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteStudent(i)" matTooltip="Delete Student">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!-- If no teachers are available -->
<div *ngIf="students.length === 0" class="no-students">
  <p>No Students available.</p>
</div>
