.calendar-container {
  width: 22cm;
  margin-top: 10cm;
  margin-bottom: 5cm;
  margin-left: -60px; /* Adjusted to move further to the left */
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

  mat-form-field {
    width: 100%;
    margin-bottom: 30px;
  }
  
  .events-container {
    margin-top: 20px;
    text-align: left;
  }
  
  .event-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #f0f8ff;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .event-item mat-icon {
    margin-right: 10px;
    color: #007bff;
  }
  
  .event-item strong {
    font-size: 16px;
    font-weight: bold;
  }
  
  .event-item p {
    font-size: 14px;
    color: #555;
  }
  
  /* Hover effect */
  .event-item:hover {
    background-color: #e6f7ff;
    transform: scale(1.03);
    transition: all 0.2s ease;
  }
  