<div class="edit-profile-container">
  <form (ngSubmit)="onSubmit()" class="form-container">
    <mat-card class="profile-card">
      
      <!-- Sticky Error Message -->
      <!-- Sticky Error Message -->
<div class="alert-container">
  <app-alert *ngIf="showAlert" [message]="alertMessage" [type]="alertType"></app-alert>
</div>


      <div class="profile-picture-container">
        <img [src]="profile.profilePicture || defaultPicture" alt="Profile Picture" class="profile-img" />
        <input type="file" class="file-input" (change)="onFileSelected($event)" accept="image/*" />
      </div>

      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput type="text" [(ngModel)]="profile.username" name="username" />
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Current Password</mat-label>
        <input matInput type="password" [(ngModel)]="profile.currentPassword" name="currentPassword" />
      </mat-form-field>

      <mat-form-field class="form-field" appearance="fill">
        <mat-label>New Password</mat-label>
        <input matInput type="password" [(ngModel)]="profile.password" name="password" />
      </mat-form-field>

      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" [(ngModel)]="profile.confirmPassword" name="confirmPassword" />
      </mat-form-field>

      <div class="buttons-container">
        <button mat-raised-button color="primary" type="submit">Save</button>
        <button mat-raised-button color="warn" type="button" (click)="onCancel()">Cancel</button>
      </div>
    </mat-card>
  </form>
</div>
