<mat-toolbar class="custom-toolbar" [class.login-view]="isLoginView">
  <button *ngIf="!isLoginView" mat-icon-button aria-label="Menu" (click)="toggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>

  <div class="logo-section">
    <img src="../../../assets/images/Logo white.png" alt="InstaSchooler Logo" class="logo" />
    <span class="brand-name">InstaSchooler</span>
  </div>

  <span class="example-spacer"></span>

  <div class="header-content">
    <ng-container *ngIf="!isLoginView; else loginView">
      <div class="header-buttons">
        <button mat-icon-button class="notification-icon">
          <mat-icon>notifications</mat-icon>
        </button>
        <button mat-button class="neumorphic-button">
          <span class="menu-icon material-icons">assessment</span>
          <span class="button-text" (click)="generateReport()">Generate Report</span>
        </button>
        <button mat-button class="neumorphic-button">
          <span class="menu-icon material-icons">person</span>
          <span class="button-text">Profile</span>
        </button>
      </div>
    </ng-container>

    <ng-template #loginView>
      <span class="admin-title">Admin Dashboard Login</span>
    </ng-template>
  </div>
</mat-toolbar>
