.example-spacer {
  flex: 1 1 auto;
}



.mat-icon-button {
  /* Background color of the button */
  border-radius: 50%; /* Make the button round */
  width: 40px; /* Adjust the button width as needed */
  height: 40px; /* Adjust the button height as needed */
  // box-shadow: 3px 3px 5px #b9b9b9, -3px -3px 5px #ffffff; /* Neumorphism shadow for buttons */
  // transition: box-shadow 0.3s ease-in-out; /* Add a smooth transition effect */
}


.custom-toolbar{
  background-color: #A50133;

}
.mat-toolbar{
  color: white !important;
}
.mat-icon-button {
  color: black !important;
  background-color: black; /* Background color of the button */
  border-radius: 50%; /* Make the button round */
  width: 40px; /* Adjust the button width as needed */
  height: 40px; /* Adjust the button height as needed */
  // box-shadow: 3px 3px 5px #b9b9b9, -3px -3px 5px #ffffff; /* Neumorphism shadow for buttons */
  transition: box-shadow 0.3s ease-in-out; /* Add a smooth transition effect */
}


/* Style the button with the "neumorphic-button" class */
/* Default styles for buttons */
.neumorphic-button {
  color: #fff;
  border: solid 2px #ffffff;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  background: transparent; /* Adjust background as needed */
}

.neumorphic-button .menu-icon {
  margin-right: 8px;
}

.neumorphic-button .button-text {
  display: inline;
  color: white !important; /* Ensure text color is white */
}

/* Hover effect */
.neumorphic-button:hover {
  transform: scale(1.05);
}

/* Responsive styles for small screens */
@media (max-width: 600px) {
  .neumorphic-button {
    padding: 0; /* Remove padding */
    border: none; /* Remove border */
    background: none; /* Remove background */
    box-shadow: none; /* Remove shadow if any */
  }

  .neumorphic-button .button-text {
    display: none; /* Hide the text on small screens */
  }

  .neumorphic-button .menu-icon {
    margin-right: 0; /* Remove margin when text is hidden */
  }
}



/* Add some spacing between the buttons */
.custom-toolbar button:not(:last-child) {
  margin-right: 10px;
}


.notification-icon {
  color: white !important;
  transition: transform 0.2s ease; /* Add smooth transition effect */

  &:hover {
    transform: scale(1.2); /* Scale the icon on hover */
  }
}

body {

  color: white !important;
}

.mat-mdc-icon-button{
  color: white !important;
}

.logo {
  width: 2.5rem;
  height: auto;
  margin-right: 1rem;
}
.logo-section {
  display: flex;
  align-items: center;
}
