<!--<div class="header">-->
<!--  <div class="logo-section">-->
<!--    <img src="../../../assets/images/logo.png" alt="InstaSchooler Logo" class="logo" />-->
<!--    <span class="brand-name">InstaSchooler</span>-->
<!--  </div>-->
<!--  <div class="search-container">-->
<!--    <input type="text" placeholder="Search here..." class="search-bar" />-->
<!--    <i class="icon search-icon fas fa-search"></i>-->
<!--  </div>-->
<!--  <div class="icons">-->
<!--    <i class="icon fas fa-print"></i>-->
<!--    <i class="icon fas fa-bell"></i>-->
<!--    <i class="icon fas fa-comment-dots"></i>-->
<!--  </div>-->
<!--  <div class="report-container">-->
<!--    <button class="btn-report">-->
<!--      Generate Report-->
<!--      <i class="icon report-icon fas fa-chart-bar"></i>-->
<!--    </button>-->
<!--  </div>-->
<!--</div>-->

<!-- toolbar.component.html -->
<mat-toolbar class="custom-toolbar">
  <button mat-icon-button aria-label="Menu icon" (click)="toggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="logo-section">
    <img src="../../../assets/images/Logo white.png" alt="InstaSchooler Logo" class="logo" />
    <span class="brand-name">InstaSchooler</span>
  </div>
  &nbsp;
  <span class="example-spacer"></span>

  <button mat-icon-button class="notification-icon" aria-label="Notification icon button">
    <mat-icon>notifications</mat-icon>
  </button>

  <button mat-button routerLink="/profile" routerLinkActive="active" class="neumorphic-button">
    <span class="menu-icon material-icons">assessment</span>
    <span class="button-text">Generate Report</span>
  </button>

  <button mat-button routerLink="/profile" routerLinkActive="active" class="neumorphic-button">
    <span class="menu-icon material-icons">person</span>
    <span class="button-text">Profile</span>
  </button>

</mat-toolbar>
