<mat-sidenav mode="side" opened [class.collapsed]="isCollapsed" class="sidebar">
 
  <button class="sidebar-toggle" (click)="toggleSidebar()">
    <span class="hamburger-icon">
      <span class="line top"></span>
      <span class="line middle"></span>
      <span class="line bottom"></span>
    </span>
  </button>
<br>
<br>
  <mat-nav-list>
    <a mat-list-item routerLink="./dashboards">
      <mat-icon>dashboard</mat-icon>
      <span *ngIf="!isCollapsed">Tableau de bord</span>
    </a>
    <a mat-list-item routerLink="./courses">
      <mat-icon>library_books</mat-icon>
      <span *ngIf="!isCollapsed">Cours</span>
    </a>
    <a mat-list-item routerLink="./liste">
      <mat-icon>list</mat-icon>
      <span *ngIf="!isCollapsed">Liste</span>
    </a>
    <a mat-list-item routerLink="./notifications">
      <mat-icon>notifications</mat-icon>
      <span *ngIf="!isCollapsed">Notifications</span>
    </a>
    <a mat-list-item routerLink="./student">
      <mat-icon>group</mat-icon>
      <span *ngIf="!isCollapsed">Étudiants</span>
    </a>
    <a mat-list-item routerLink="./settings">
      <mat-icon>settings</mat-icon>
      <span *ngIf="!isCollapsed">Paramètres</span>
    </a>
  </mat-nav-list>
</mat-sidenav>
