<div class="feature-cards">
    <div class="feature-card" (click)="navigateToAddStudent()">
      <div class="icon">➕</div>
      <div class="info">
        <h3>Add Student</h3>
      </div>
    </div>
  
    <div class="feature-card">
      <div class="icon">🧑‍🏫</div>
      <div class="info">
        <h3>Add Teacher</h3>
      </div>
    </div>
  
    <div class="feature-card">
      <div class="icon">🏫</div>
      <div class="info">
        <h3>Add Class</h3>
      </div>
    </div>
  
    <div class="feature-card">
      <div class="icon">📢</div>
      <div class="info">
        <h3>Send Announcement</h3>
      </div>
    </div>
  </div>
  