.edit-profile-container {
  width: 20cm; /* Ensure the container is responsive */
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  background: white; /* Modern gradient */
  
  
  margin-top: 120px;
  margin-bottom: 90px;
  border-radius: 8px;
 
}



.profile-card {
  padding: 20px;
  
  width: 100%;
  box-sizing: border-box;
}

.profile-picture-container {
  text-align: center;
  margin-bottom: 20px;
}

.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.file-input {
  margin-top: 10px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  margin-top: 20px;
}

.buttons-container button {
  flex: 1 1 48%;
  min-width: 150px;
  max-width: 200px;
}

mat-card {
  background-color: #ffffff;
  border-radius: 8px;
}

mat-form-field {
  width: 100%;
}

/* Container for the entire page to allow scrolling when needed */
.main-content {
  overflow-y: auto; /* Scroll when content overflows */
  padding-bottom: 100px; /* Adds some padding at the bottom for buttons */
}
