<div class="main-container">
    <div class="container">
      <h1>List of Teachers</h1>

      <!-- Table to display teachers -->
      <table class="table">
        <thead>
          <tr>
            <th>Profile</th>
            <th>Name</th>
            <th>Subject</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let teacher of teachers">
            <td><img [src]="teacher.profilePicture" alt="Profile Picture" class="teacher-profile-img" /></td>
            <td>{{ teacher.firstname }} {{ teacher.lastName }}</td>
            <td>{{ teacher.Matiere }}</td>
            <td>{{ teacher.email }}</td>
            <td>{{ teacher.Phone }}</td>
            <td class="actions">
              <button (click)="deleteTeacher(teacher._id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- If no teachers are available -->
      <div *ngIf="teachers.length === 0" class="no-teachers">
        <p>No teachers available.</p>
      </div>
    </div>
  </div>
