<div class="container">
  <h1>Create Class</h1>
  <form [formGroup]="classForm" (ngSubmit)="onSubmit()">

    <!-- Class Description -->
    <div class="section">
      <label for="name">Class Description</label>
      <input id="name" formControlName="description" />
    </div>
    <!-- Duration Field -->
    <div class="section">
      <label for="duration">Duration (in hours)</label>
      <input id="duration" type="number" formControlName="duration" min="1" />
    </div>

    <div class="section">
      <label for="niveau">Niveau (Level)</label>
      <select id="niveau" formControlName="niveau">
        <option *ngFor="let level of levels" [value]="level">Niveau:{{ level }}</option>
      </select>
    </div>
    <!-- Subject Selection -->
    <div class="section subject-assignment-section">
      <h2>Subject</h2>
      <label for="subject">Choose Subject</label>
      <select id="subject" formControlName="subject">
        <option *ngFor="let m of matiereOptions" [value]="m">{{ m }}</option>
      </select>
    </div>

    <!-- Teacher Selection (Filtered by Subject) -->
    <div class="section teacher-assignment-section">
      <h2>Teacher</h2>
      <label for="teacher">Choose Teacher</label>
      <select id="teacher" formControlName="teacher">
        <option *ngFor="let teacher of teachers" [value]="teacher._id">
          {{ teacher.firstname }} {{ teacher.lastName }}
        </option>
      </select>
    </div>

    <button type="submit" [disabled]="classForm.invalid">Create Class</button>
  </form>
</div>
