<nav class="navbar">
  <div class="logo">
    <img src="assets/image/logoo.png" alt="Logo" />
  </div>

  <div class="profile-actions">
    <button (click)="onLogout()" class="logout-btn">
      <mat-icon>exit_to_app</mat-icon> Logout
    </button>
    <!-- Edit Profile button to navigate to the Edit Profile route -->
    <button routerLink="/student/edit-profile" class="edit-profile-btn">
      <mat-icon>edit</mat-icon> Edit Profile
    </button>
    <img src="assets/image/OIP.jpg" alt="Profile" class="profile-pic" />
  </div>
</nav>
