<div class="dashboard-overview">
    <div class="dashboard-cards">
      <app-card
        [icon]="'people_outline'"
        [count]="numberOfStudents"
        [title]="'Total Students'">
      </app-card>
      <app-card
        [icon]="'person_outline'"
        [count]="numberOfTeachers"
        [title]="'Total Teachers'">
      </app-card>
      <app-card
        [icon]="'class'"
        [count]="numberOfCourses"
        [title]="'Total Courses'">
      </app-card>
    </div>

    <app-calendar></app-calendar>
    <app-absence></app-absence>
  </div>
