<div class="dashboard-overview">
  <div class="dashboard-cards">
    <app-card
      [icon]="'people_outline'"
      [count]="totalStudents"
      [title]="'Total Students'">
    </app-card>
    <app-card
      [icon]="'person_outline'"
      [count]="totalTeachers"
      [title]="'Total Teachers'">
    </app-card>
    <app-card
      [icon]="'class'"
      [count]="totalClasses"
      [title]="'Total Classes'">
    </app-card>
    <app-card
      [icon]="'money_off'"
      [count]="unpaidStudents"
      [title]="'Unpaid Students'">
    </app-card>
  </div>

  <app-calendar></app-calendar>
  <app-absence></app-absence>
</div>
