<div class="dashboard-overview">
    <div class="dashboard-cards">
      <app-card title="Total Students" icon="👩‍🎓" [count]="totalStudents"></app-card>
      <app-card title="Total Teachers" icon="👨‍🏫" [count]="totalTeachers"></app-card>
      <app-card title="Total Courses" icon="🏫" [count]="totalCourses"></app-card>
      <app-card title="Unpaid Students" icon="💸" [count]="unpaidStudents"></app-card>
    </div>

    <app-calendar></app-calendar>
    <app-feature-cards></app-feature-cards>
    <app-absence></app-absence>
  </div>
