


  <nav class="navbar">
    <div class="logo">
      <a routerLink="./dashboards">
        <img src="assets/images/logoo.png" alt="Logo" />
      </a>
    </div>
  
    <div class="profile-actions">
      <button (click)="onLogout()" class="logout-btn">
        <mat-icon>exit_to_app</mat-icon> Logout
      </button>
      <!-- Edit Profile button to navigate to the Edit Profile route -->
      <button routerLink="./settings" class="edit-profile-btn">
        <mat-icon>edit</mat-icon> Edit Profile
      </button>
      
  
    </div>
  </nav>
  