
<nav class="navbar">
  <div class="logo" routerLink="/teacher-space/dashboards" style="cursor: pointer;">
    <img src="assets/images/output-onlinetools.png" alt="Logo" />
    <span class="brand-name">InstaSchooler</span>
  </div>
  
  
    <div class="profile-actions">
      <button (click)="onLogout()" class="logout-btn">
        <mat-icon>exit_to_app</mat-icon> Logout
      </button>
      <!-- Edit Profile button to navigate to the Edit Profile route -->
      <button routerLink="/teacher-space/settings" class="edit-profile-btn">
        <mat-icon>edit</mat-icon> Edit Profile
      </button>
     
  
    </div>
  </nav>
  