.settings-page {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

.ticket-container,
.settings-container {
  flex: 1;
  background: #ffffff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 20px;
  color: #3f51b5;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: #555;
}

input,
textarea,
select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  transition: border 0.3s, box-shadow 0.3s;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border: 1px solid #3f51b5;
  box-shadow: 0px 0px 5px rgba(63, 81, 181, 0.3);
}

textarea {
  resize: none;
}

/* Boutons */
.btn {
  background-color: #3f51b5;
  color: #fff;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease-in-out, transform 0.2s;
}

.btn:hover {
  background-color: #303f9f;
  transform: scale(1.05);
}

/* Boutons alignés sur la même ligne */
.btn-primary {
  margin-top: 10px;
}

.settings-container .btn-primary,
.ticket-container .btn-primary {
  display: inline-block;
  width: auto;
  margin: 10px 10px 0 0;
}

textarea {
  resize: none;
}

/* Ajustements pour petits écrans */
@media (max-width: 768px) {
  .settings-page {
    flex-direction: column;
    gap: 30px;
  }

  .settings-container,
  .ticket-container {
    flex: none;
  }
}

/* Général */
.general-settings {
  max-width: 400px;
  margin: 20px auto;
  padding: 15px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.settings-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: #3f51b5;
  text-align: left;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Alignement central des boutons */
.form-group-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  margin-top: 15px;
}
