<div class="dashboard-wrapper">
  <div class="dashboard-container">
    <div *ngFor="let course of courses" class="course-card">
      <div class="course-header">
        <h3 class="course-title" [title]="course.title">{{ course.title }}</h3>
        <p class="course-date">{{ course.createdAt | date:'dd/MM/yyyy' }}</p>
      </div>
      <div class="course-body">
        <div class="course-description" [ngClass]="{'expanded': course.expanded}" #desc>
          <p>
            <ng-container *ngIf="!course.expanded">
              {{ course.description}}
            </ng-container>
            <ng-container *ngIf="course.expanded">
              {{ course.description }}
            </ng-container>
          </p>
        </div>
        
        <button class="read-more" *ngIf="course.description.length > 150" 
                (click)="toggleDescription(course)">
          {{ course.expanded ? 'Read less' : 'Read more' }}
        </button>
        
        <button class="enter-button" (click)="viewPdf(course.pdf)">View Course</button>
      </div>
    </div>
  </div>
</div>
